/*---BOTON GENERICO-------------------------------------------------------------------------*/
.btn-generico button {
    background-color: #6c5ce7;
    color: white;
    border: none;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: background-color 0.2s ease;
    margin-bottom: 30px;
}

.btn-generico button:hover {
    background-color: #5a4acb;
}

/*---BOTONES DE ACCIÓN: VER / EDITAR / ELIMINAR-------------------------------------------*/
.btn-ver {
    background-color: #a29bfe;
    color: #2d3436;
}

.btn-ver:hover {
    background-color: #6c5ce7;
    color: white;

}

.btn-editar {
    background-color: #ffeaa7;
    color: #2d3436;
}

.btn-editar:hover {
    background-color: #fdcb6e;
    color: white;
}

.btn-eliminar {
    background-color: #fab1a0;
    color: #2d3436;
}

.btn-eliminar:hover {
    background-color: #d63031;
    color: white;
}



/*---BOTON ASIGNAR Y DESASIGNAR DESARROLLADOR-----------------------------------------------*/
.btn {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-asignar {
    background-color: #55efc4;
    color: #2d3436;
}

.btn-asignar:hover {
    background-color: #00b894;
    color: white;
}

.btn-desasignar {
    background-color: #fab1a0;
    color: #2d3436;
}

.btn-desasignar:hover {
    background-color: #d63031;
    color: white;
}

/*---BOTONES DE ESTADO DEL PROYECTO-------------------------------------------------------*/
.boton-estado {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);

}

.boton-estado {
    background-color: #347eff;  /* Azul habilitado */
    color: white;
}

.boton-estado:hover {
    background-color: #005eff ; /* Azul más fuerte al pasar el mouse */
    color: white;
}

.boton-estado:disabled {
    background-color: #abcaff; /* Azul claro para el estado bloqueado */
    color: white;
    cursor: not-allowed;
}

.estado-actual {
    background-color: #36f190 !important; /* Verde suave */
    color: white;
    font-weight: bold;
}

/*---BOTONES DE ASIGNAR FECHA DE INICIO Y FIN DE PROYECTO---------------------------------*/


.btn-asignar-fecha{
    background-color: #6c5ce7;
    color: white;
    border: none;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: background-color 0.2s ease;
}

.btn-asignar-fecha:hover {
    background-color: #5a4acb;
}
